---
import Base from '../layouts/Base.astro'
import Wrapper from '../components/sections/Wrapper.astro'
import Zdjecie1 from '../components/Zdjecie1.astro'
import Dlaczegomy from '../components/Dlaczegomy.astro'
import Allweoffer from '../components/Allweoffer.astro'
import Contact from '../components/sections/ContactSection.astro'
---
<Base>
  <div>
 <Wrapper/>
</div>
<div>
  <Zdjecie1/>
</div>
<div><Dlaczegomy/></div>
<div><Allweoffer/></div>
<div><Contact/></div>
</Base>
