<!-- component -->
<div>
    <img class="max-w-3xl px-4 xl:px-0 pt-10 mx-auto" src="https://flowbite.s3.amazonaws.com/docs/gallery/square/image.jpg" alt="">
</div>
<div class="max-w-2xl px-10 xl:px-0 py-10 mx-auto text-center justify-center"> <h1 class="block text-3xl font-bold text-gray-800 sm:text-4xl lg:text-6xl lg:leading-tight dark:text-white">We specialize in multiple fields.</h1>
    <p class="mt-3 text-lg text-gray-800 dark:text-neutral-400">Starting from logo designs, ending at full-stack web development - we offer it all. Here at minkby.</p></div>
<!-- component -->
<!-- component -->
<div class="flex justify-center items-center mt-10">
    <div class="max-w-[720px] mx-auto">

        <!-- Centering wrapper -->
        <div class="relative flex bg-clip-border rounded-xl bg-white text-gray-700 shadow-md w-full max-w-[48rem] flex-row">
            <div class="relative w-2/5 m-0 overflow-hidden text-gray-700 bg-white rounded-r-none bg-clip-border rounded-xl shrink-0">
                <img
                    src="https://images.unsplash.com/photo-1522202176988-66273c2fd55f?ixlib=rb-4.0.3&amp;ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&amp;auto=format&amp;fit=crop&amp;w=1471&amp;q=80"
                    alt="card-image" class="object-cover w-full h-full" />
            </div>
            <div class="p-6">
                <h6
                    class="block mb-4 font-sans text-base antialiased font-semibold leading-relaxed tracking-normal text-gray-700 uppercase">
                    logo's
                </h6>
                <h4 class="block mb-2 font-sans text-2xl antialiased font-semibold leading-snug tracking-normal text-blue-gray-900">
                    A collection of top logos made by us.
                </h4>
                <p class="block mb-8 font-sans text-base antialiased font-normal leading-relaxed text-gray-700">
                    This logo collection showcases a diverse range of designs, blending creativity with brand identity. Each logo is crafted to tell a unique story, using innovative shapes, bold typography, and vibrant colors. Whether minimalist or classic, these logos highlight the power of visual branding in capturing attention and building brand recognition.
                </p>
                <a href="#" class="inline-block">
                    <button
                        class="flex items-center gap-2 px-6 py-3 font-sans text-xs font-bold text-center text-gray-900 uppercase align-middle transition-all rounded-lg select-none disabled:opacity-50 disabled:shadow-none disabled:pointer-events-none hover:bg-gray-900/10 active:bg-gray-900/20"
                        type="button">
                        Check the collection.
                        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor"
                            stroke-width="2" class="w-4 h-4">
                            <path stroke-linecap="round" stroke-linejoin="round" d="M17.25 8.25L21 12m0 0l-3.75 3.75M21 12H3"></path>
                        </svg>
                    </button>
                </a>
            </div>
        </div>
    </div>
    
</div>
<div class="flex justify-center items-center mt-10">
    <div class="max-w-[720px] mx-auto">

        <!-- Centering wrapper -->
        <div class="relative flex bg-clip-border rounded-xl bg-white text-gray-700 shadow-md w-full max-w-[48rem] flex-row">
            
            <div class="p-6">
                <h6
                    class="block mb-4 font-sans text-base antialiased font-semibold leading-relaxed tracking-normal text-gray-700 uppercase">
                    advertisments
                </h6>
                <h4 class="block mb-2 font-sans text-2xl antialiased font-semibold leading-snug tracking-normal text-blue-gray-900">
                    A collection of social media advertisments.
                </h4>
                <p class="block mb-8 font-sans text-base antialiased font-normal leading-relaxed text-gray-700">
                   
This social media advertisements collection highlights creative and impactful designs tailored to engage audiences. Each ad is crafted to capture attention, drive action, and align with brand messaging through bold visuals, compelling copy, and strategic layouts. Whether for Instagram, Facebook, or other platforms, these ads demonstrate the power of design in creating memorable, effective campaigns that resonate with target audiences.
                </p>
                <a href="#" class="inline-block">
                    <button
                        class="flex items-center gap-2 px-6 py-3 font-sans text-xs font-bold text-center text-gray-900 uppercase align-middle transition-all rounded-lg select-none disabled:opacity-50 disabled:shadow-none disabled:pointer-events-none hover:bg-gray-900/10 active:bg-gray-900/20"
                        type="button">
                        Check the collection.
                        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor"
                            stroke-width="2" class="w-4 h-4">
                            <path stroke-linecap="round" stroke-linejoin="round" d="M17.25 8.25L21 12m0 0l-3.75 3.75M21 12H3"></path>
                        </svg>
                    </button>
                </a>
            </div>
            <div class="relative w-2/5 m-0 overflow-hidden text-gray-700 bg-white rounded-r-none bg-clip-border rounded-xl shrink-0">
                <img
                    src="https://images.unsplash.com/photo-1522202176988-66273c2fd55f?ixlib=rb-4.0.3&amp;ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&amp;auto=format&amp;fit=crop&amp;w=1471&amp;q=80"
                    alt="card-image" class="object-cover w-full h-full" />
            </div>
        </div>
    </div>
    
</div>
<div class="flex justify-center items-center mt-10">
    <div class="max-w-[720px] mx-auto">

        <!-- Centering wrapper -->
        <div class="relative flex bg-clip-border rounded-xl bg-white text-gray-700 shadow-md w-full max-w-[48rem] flex-row">
            <div class="relative w-2/5 m-0 overflow-hidden text-gray-700 bg-white rounded-r-none bg-clip-border rounded-xl shrink-0">
                <img
                    src="https://images.unsplash.com/photo-1522202176988-66273c2fd55f?ixlib=rb-4.0.3&amp;ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&amp;auto=format&amp;fit=crop&amp;w=1471&amp;q=80"
                    alt="card-image" class="object-cover w-full h-full" />
            </div>
            <div class="p-6">
                <h6
                    class="block mb-4 font-sans text-base antialiased font-semibold leading-relaxed tracking-normal text-gray-700 uppercase">
                    web designs & development
                </h6>
                <h4 class="block mb-2 font-sans text-2xl antialiased font-semibold leading-snug tracking-normal text-blue-gray-900">
                   Incredibly fast and intuitive websites.
                </h4>
                <p class="block mb-8 font-sans text-base antialiased font-normal leading-relaxed text-gray-700">
                    This web development collection features a range of innovative, user-friendly designs that blend functionality with aesthetics. Each project is crafted to enhance user experience, with seamless navigation, responsive layouts, and modern design elements. Whether for e-commerce, portfolios, or corporate sites, these websites showcase the power of great design and cutting-edge technology in creating memorable online experiences.
                </p>
                <a href="#" class="inline-block">
                    <button
                        class="flex items-center gap-2 px-6 py-3 font-sans text-xs font-bold text-center text-gray-900 uppercase align-middle transition-all rounded-lg select-none disabled:opacity-50 disabled:shadow-none disabled:pointer-events-none hover:bg-gray-900/10 active:bg-gray-900/20"
                        type="button">
                        Check the collection.
                        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor"
                            stroke-width="2" class="w-4 h-4">
                            <path stroke-linecap="round" stroke-linejoin="round" d="M17.25 8.25L21 12m0 0l-3.75 3.75M21 12H3"></path>
                        </svg>
                    </button>
                </a>
            </div>
        </div>
    </div>
    
</div>